.main {
  display: grid;
  place-items: center;
  min-height: 100dvh;
}

.weatherContainer {
  min-height: 70dvh;
  min-width: 50dvw;
  background-image: url("../public/images/sunny.jpg");
  background-position: bottom;
  border-radius: 20px;
}

.searchContainer {
  margin: 30px 30px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.cityInput {
  min-height: 5dvh;
  min-width: 70%;
  padding: 20px;
  border-radius: 10px;
}

.searchButton {
  padding: 10px 40px;
  border-radius: 10px;
  font-size: 1em;
}

.weatherDataContainer {
  color: white;
  text-align: center;
}

.currentWeather {
  font-size: 5em;
  text-shadow: 1px 1px 1px grey;
}

.cityName {
  font-size: 2em;
}
